root {
    --top-background-color-day: ;
    --middle-background-color-day: ;
    --bottom-background-color-day: ;
    --top-background-color-night: ;
    --middle-background-color-night: ;
    --bottom-background-color-night: ;
    --day-font-color: ;
    --night-font-color: ;
}